<?xml version="1.0" encoding="UTF-8"?>
<suite name="SauceDemo Advanced Framework">
    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Login Module">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="E-Commerce Workflow">
        <classes>
            <class name="tests.ECommerceWorkflowTest"/>
        </classes>
    </test>
</suite>